
<!-- calendly widget -->
<link href="https://calendly.com/assets/external/widget.css" rel="stylesheet">
<script src="https://calendly.com/assets/external/widget.js" type="text/javascript"></script>

<div class="row">
  <div class="col-md-12">
    <h1 class="pageheader">Schedule study appointment</h1>
    <p>Select a time below. We'd like to set aside an hour for the appointment though it may not take the full time.</p>
    <p>If there is not a time listed that works for you, please respond to us via email and we do our best to accomodate an appointment outside the times listed.</p>
  </div>
</div>
<div class="row">
  <div class="col-md-12 text-center">
    <a href="" class="btn btn-default" onclick="Calendly.showPopupWidget('https://calendly.com/nu-childlab/study-appointment');return false;" style="color:red;">View available appointments</a>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <h4 class="pageheader">Directions, map, and parking:</h4>
    <a href="assets/directions.pdf" download="childlab_directions.pdf"> download pdf</a>
  </div>
</div>