---
title: About
date: 2015-08-10
author: Alexis Wellwood
---

      <div class="jumbotron">
        <h1>Welcome!</h1> 
        <p class="lead">ChiLDlab studies the language abilities of our most expert language learners: young children. We combine cutting-edge research in linguistics and cognitive development to better understand the remarkable human capacity for language.</p>
        <!-- <p><a class="btn btn-lg btn-success" href="#" role="button">Sign up today</a></p> -->
        <img src="/images/ChiLDyB01.jpg" width="50%" align="right" alt="ChiLDlab.">
      </div>

      <!-- First row of columns -->
      <div class="row">
        <div class="col-md-4">
          <h3 class="pageheader">Language</h3>
          <p>Language is a uniquely human ability. How do children acquire that ability so quickly, and seemingly so effortlessly? Why doesn't our pet Fido? Why is it so hard for engineers to build a computer that can communicate half as well? Linguistic scientists have been hard at work for more than half a century trying to find answers to these questions. </p>
        </div>
        <div class="col-md-4">
          <h3 class="pageheader">Meaning</h3>
          <p>ChiLDlab tackles the question of how children figure out the meanings of words and sentences. Sometimes parents point out the things they're referring to, but other times we wouldn't even know to point to: what is the meaning of <i>every</i>, <i>most</i>, or <i>the</i>? Yet, kids have little trouble figuring it out. How do they do that?</p>
       </div>
        <div class="col-md-4">
          <h3 class="pageheader"><a href="/participate.html">You can help!</a></h3>
          <p>Our research into child language depends on <b>you</b>. A visit to our lab typically involves playing short, fun games with your child designed to capture the very moment of learning a novel meaning. Come to our lab in Evanston and learn about how your child learns language!</p>
          <p><a class="btn btn-warning" href="/participate.html" role="button">View details &raquo;</a></p>
        </div>
      </div>

      <!-- Second row of columns -->
      <div class="row">
        <div class="col-md-4">
          <h3 class="pageheader">News</h3>
          <p>We are busily designing new studies, hiring and training new lab members, preparing the results of our studies to share with the wider scientific community, and seeking new opportunities for collaboration. Read our latest news here! </p>
          <p><a class="btn btn-warning" href="/news.html" role="button">View details &raquo;</a></p>
        </div>
        <div class="col-md-4">
          <h3 class="pageheader">People</h3>
          <p>ChiLDlab wouldn't run without the hard work and enthusiasm of its awesome staff, students, and faculty. And we are always looking for new lab members! Read more about past and present personnel here, and find out how to get involved!</p>
          <p><a class="btn btn-warning" href="/people.html" role="button">View details &raquo;</a></p>
       </div>
        <div class="col-md-4">
          <h3 class="pageheader">Research</h3>
          <p>ChiLDlab was founded in 2015 by Principle Investigator, Alexis Wellwood. We already have a good start, producing literature at the frontiers of language acquisition inquiry. Find out more about our latest projects and publications here!</p>
          <p><a class="btn btn-warning" href="/research.html" role="button">View details &raquo;</a></p>
        </div>
      </div>