---
title: About
date: 2018-07-22
author: Alexis Wellwood
---
      
      <div class="jumbotron">
        <h1>Welcome!</h1> 
        <p class="lead" style="padding-bottom:40px;">
          <!-- <img src="/images/ML-logo2.png" width="25%" alt="Meaning Lab" style="padding-left: 1em; float: right;"> -->
          The Meaning Lab studies what people know about meaning in language, and how our most expert language learners (young children!) acquire that knowledge. Our research combines cutting-edge thought in linguistics, philosophy, and cognitive psychology to investigate this most remarkable human ability: the capacity to produce and understand language. 
          <!-- align="right" -->
        </p>
      </div>



      <!-- First row of columns -->
      <div class="row">
        <div class="col-md-4">
          <h3 class="pageheader">Language</h3>
          <p>Language is a uniquely human capacity, and it is plays a central role in very many of the activities humans engage in. But, what is it? And how do young children acquire it so quickly, and with so little apparent effort? Why don't our pets learn human-like language? Language scientists and engineers have been hard at work for more than half a century trying to find answers to these questions. </p>
        </div>
        <div class="col-md-4">
          <h3 class="pageheader">Meaning?</h3>
          <p>The Meaning Lab studies how adults understand the meanings of words and sentences, and how children learn those meanings. But we don't study the very obvious words like "cow" and "teacup"; we focus on aspects of language that we tend to think less about. For example, what is the meaning of <i>every</i>, <i>most</i>, or <i>the</i>? Kids have little trouble figuring this out, but questions like this continue to vex researchers. </p>
       </div>
        <div class="col-md-4">
          <h3 class="pageheader"><a href="participate.html">You can help!</a></h3>
          <p>Our research depends on <b>you</b>. If you are a parent of a young child, a visit to our lab typically involves playing short, fun games with your child designed to capture the moment of learning the meaning of a novel word. If you are a USC undergraduate, a visit typically involves interacting with a computer for 30-60 minutes. Come to our lab on USC's downtown campus and learn about language learning!</p>
          <p><a class="btn btn-warning" href="participate.html" role="button">View details &raquo;</a></p>
        </div>
      </div>

      <!-- Second row of columns -->
      <div class="row">
        <div class="col-md-4">
          <h3 class="pageheader">News</h3>
          <p>We are busily designing new studies, hiring and training new lab members, preparing the results of our studies to share with the broader scientific community, and seeking new opportunities for collaboration. Most recently, we began pursuing targeted research under a National Science Foundation grant. Read about our latest results and other news here! </p>
          <p><a class="btn btn-warning" href="news.html" role="button">View details &raquo;</a></p>
        </div>
        <div class="col-md-4">
          <h3 class="pageheader">People</h3>
          <p>The Meaning Lab wouldn't be nearly so successful without the contributions and enthusiasm of its awesome staff, students, and faculty. Students in philosophy, linguistics, psychology, and computer science have helped make us what we are, and we;re always interested to hear from potential new lab members! You can read about our past and present personnel here.</p>
          <p><a class="btn btn-warning" href="people.html" role="button">View details &raquo;</a></p>
       </div>
        <div class="col-md-4">
          <h3 class="pageheader">Research</h3>
          <p>The Meaning Lab was founded at the University of Southern California in 2017 by its Principal Investigator, Professor Alexis Wellwood. Previously, Professor Wellwood created the ChiLDlab at Northwestern. The Meaning Lab produces new knowledge at the very frontiers of inquiry in philosophy and cognitive science. Learn about our projects and publications here!</p>
          <p><a class="btn btn-warning" href="research.html" role="button">View details &raquo;</a></p>
        </div>
      </div>