---
title: A typical visit to ChiLDlab
date: 2015-09-9
author: Alexis Wellwood
---



<div class="row">
  <div class="col-md-9">
  	<h3 class="pageheader">Visiting our lab</h3>


<div class="panel panel-default">
  <div class="panel-body">
    <h4>Welcome to Northwestern!</h4>
    <p>After letting our study co-ordinator know that you're interested in having your child participate in one of our studies, the co-ordinator will work with you to find a time to visit that works with your schedule. Study appointments are during weekday business hours and last up to one hour, though we may not take the full time&#8212;we want to allow plenty of time to answer any questions you may have, and for you and your child to get comfortable in the space!</p>
    <img src="../images/visiting/05-day-of.JPG" alt="Bob the bear on the ChiLDlab couch" align="right" width="60%" style="padding-left: 1em; padding-right: 1em; padding-top: .5em;">
<img src="../images/visiting/0-scheduling.JPG" alt="ChiLDlab scheduling area" align="right" width="40%" style="padding-left: 1em; padding-right: 1em; padding-top: .5em;">
  </div>
</div>

<div class="panel panel-default">
  <div class="panel-body">
	<h4>Our home at Cresap laboratory</h4>
	<p>After setting a time for the appointment, we'll send you a confirmation email along with directions and information about our free parking. On the day of the study, one of our friendly research assistants will meet you at your reserved parking spot and walk you to our lab. Siblings are welcome! We always have a research assistant available to play and help out during the study. </p>
	<img src="../images/visiting/2-toCresap.JPG" alt="our home in Cresap Laboratory" align="right" width="50%" style="padding-left: 1em; padding-right: 1em; padding-top: .5em;">
<img src="../images/visiting/1-toNU.JPG" alt="Swift Hall and Cresap Laboratory on NU's campus" align="right" width="50%" style="padding-left: 1em; padding-right: 1em; padding-top: .5em;">
  </div>
</div>

<div class="panel panel-default">
  <div class="panel-body">
	<h4>Welcome to the ChiLDlab!</h4>
	<p>Upon arriving, you'll be welcomed into our warm reception area. While your child plays, the researcher will explain the study to you and walk you through the consent form that will allow your child to participate in our study. </p>
	<img src="../images/visiting/33-welcome.JPG" alt="our cozy reception area" align="right" width="50%" style="padding-left: 1em; padding-right: 1em; padding-top: .5em;">
	<img src="../images/visiting/3-welcome.JPG" alt="our front door" align="right" width="50%" style="padding-left: 1em; padding-right: 1em; padding-top: .5em;">
  </div>
</div>

<div class="panel panel-default">
  <div class="panel-body">
	<h4>Where the research happens</h4>
	<p>We'll play awhile longer and, when your child is ready, we'll all move into the adjoining testing room to play a short game, which generally lasts no longer than 15 minutes. During the study, your child will be videotaped, only to be used for research purposes. You'll be with your child the entire time, and if you or your child decide at any point that you don't want to continue, we will immediately stop the study. </p>
	<img src="../images/visiting/4-research.JPG" alt="our child-friendly testing room" align="right" width="47.5%" style="padding-left: 1em; padding-right: 1em; padding-top: .5em;">
	<img src="../images/visiting/44-research.JPG" alt="entrance to testing room (with flamingos!)" align="right" width="52.5%" style="padding-left: 1em; padding-right: 1em; padding-top: .5em;">
  </div>
</div>

<div class="panel panel-default">
  <div class="panel-body">
	<h4>Thanks for visiting us!</h4>
	<p>At the end of the study, we offer small gifts for you and your child to thank you for participating! At this time, the researcher will answer any questions that you may have about the study. Note that, since we always collapse data across all tested children and keep data highly confidential, we unfortunately can't provide you with individual data from your child. </p>
	<img src="../images/visiting/55-thanks.JPG" alt="hello kitty!" align="right" width="60%" style="padding-left: 1em; padding-right: 1em; padding-top: .5em;">
	<img src="../images/visiting/5-thanks.JPG" alt="a sampling of small toys that we give in thanks for participation" align="right" width="40%" style="padding-left: 1em; padding-right: 1em; padding-top: .5em;">
  </div>
</div>


  </div>

    <div class="col-md-3" style="padding-top: 1em;">
    <h4>Interested in participating?</h4>
    <p> We are always looking for new families to help out with our research! If you would like to be contacted for potential participation in future studies, please visit the <a href="../participate.html">Participate</a> page to sign-up!
    </p>

    <h4>Need directions?</h4>
    <p>The <a href="../directions.html">Directions</a> page provides a convenient map to our lab, as well as details about driving and parking.
    </p>
  </div>

</div>
